<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<header>
    <!-- header-area start -->
    <div id="sticker" class="header-area" th:fragment="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <!-- Navigation -->
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed"
                                    data-toggle="collapse"
                                    data-target=".bs-example-navbar-collapse-1"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                                    class="icon-bar"></span>
                            </button>
                            <!-- Brand -->
                            <a class="navbar-brand page-scroll sticky-logo" href="../index">
                                <h1>
                                    <span>NôngLâm</span>DVC
                                </h1> <!-- Uncomment below if you prefer to use an image logo -->
                                <!-- <img th:src="@{./home/img/logo.png" alt="" title=""> -->
                            </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div
                                class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1"
                                id="navbar-example">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="active"><a class="page-scroll" href="../index#team">Dịch Vụ Cơm</a>
                                </li>
                                <li><a class="page-scroll" href="../index#forum">Diễn Đàn</a></li>
                                <li><a class="page-scroll" href="../index#portfolio">Bài Đăng</a></li>
                                <li><a class="page-scroll" href="../post-product">Đăng bài</a></li>
                                <li class="dropdown" th:if="${infoUser.getUsername() == null}">
                                    <a href="login.html"
                                       class="dropdown-toggle"
                                       data-toggle="dropdown">
                                        Đăng nhập
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="../login">Đăng Nhập</a></li>
                                        <li><a href="../register">Đăng Kí</a></li>
                                        <li><a href="../forgot-password">Quên Mật Khẩu</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown" th:if="${infoUser.username != null}">
                                    <a href="#" class="dropdown-toggle"
                                       data-toggle="dropdown" th:text="'Chào, '+${infoUser.username}">
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href=#>Thông tin tài khoản</a></li>
                                        <li><a th:href="@{/logout}">Thoát</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- navbar-collapse -->
                    </nav>
                    <!-- END: Navigation -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
</header>
<!-- header end -->
</body>
</html>