<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div id="portfolio" class="portfolio-area area-padding" th:fragment="portfolio">
    <div class="container" style="...">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Sản phẩm khác</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start Portfolio -page -->
            <div class="awesome-project-1 fix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="awesome-menu ">
                        <ul class="project-menu">
                            <li><a href="#" class="active" data-filter="*">Tất cả</a></li>
                            <li th:each="productDetail : ${typeproduct}">
                                <a href="#" data-filter=".development" th:text="${productDetail.getTypeproduct()}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="awesome-project-content">
                <!-- single-awesome-project start -->
                <div class="col-md-3 col-sm-3 col-xs-12 design development" th:each="productDetail : ${typeproduct}">
                    <div class="single-awesome-project">
                        <div class="awesome-img mt-a mb-a">
                            <a th:href="@{'/search-page/' + ${productDetail.getTypeproduct()}}">
                                <img th:src="@{'/img-product/' + ${productDetail.getImg()}}" alt="">
                            </a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a th:href="@{'/search-page/' + ${productDetail.getTypeproduct()}}">
                                        <h4 th:text="${productDetail.getNametype()}"></h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
            </div>
        </div>
    </div>
</div>
</body>
</html>