<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eBusiness Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Favicons -->
    <link th:href="@{./home/img/favicon.png}" rel="icon">
    <link th:href="@{./home/img/apple-touch-icon.png}" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900"
            rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link th:href="@{./home/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link th:href="@{./home/lib/nivo-slider/css/nivo-slider.css}" rel="stylesheet">
    <link th:href="@{./home/lib/owlcarousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{./home/lib/owlcarousel/owl.transitions.css}" rel="stylesheet">
    <link th:href="@{./home/lib/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet">
    <link th:href="@{./home/lib/animate/animate.min.css}" rel="stylesheet">
    <link th:href="@{./home/lib/venobox/venobox.css}" rel="stylesheet">
    <!-- Nivo Slider Theme -->
    <link th:href="@{./home/css/nivo-slider-theme.css}" rel="stylesheet">
    <!-- Main Stylesheet File -->
    <link th:href="@{./home/css/style.css}" rel="stylesheet">
    <!-- Responsive Stylesheet File -->
    <link th:href="@{./home/css/responsive.css}" rel="stylesheet">
</head>
<body>
<!-- Start team Area -->
<div id="services" class="our-team-area area-padding" th:fragment="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mb-2">
                <div class="section-headline text-center">
                    <h2>Các sản phẩm trong ngày</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="team-top" th:each="detailProduct : ${productadmin}"
                 th:if="${detailProduct.getTypeproduct() == null}">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="single-team-member pad-3">
                        <div class="team-img mt-a mb-a">
                            <a  th:href="@{'/detail-product/' + ${detailProduct.getPostid()}}" >
                                <img class="pad-t-1" th:src="@{'/img-product/'+ ${detailProduct.getImg()}}"  alt="">
                            </a>
                        </div>
                        <div class="team-content">
                            <h4 th:text="${detailProduct.getProductname()}"></h4>
                            <p th:text="'Giá: '+ ${detailProduct.getPrice()} + ' VNĐ'"></p>
                            <p th:text="'Số Lượng: '+ ${detailProduct.getQuantity()}"></p>
                        </div>
                    </div>
                </div>
                <!-- End column -->
            </div>
        </div>
    </div>
</div>
<!-- End Team Area -->
</body>
</html>